doctype html  
html
    head
        title=title
        style
            include style.css
    body
        if error
            h1=error
        ul.frases
            each frase in data
                if frase.text || frase.imagem
                    li(class=`${frase.color} ${frase.autor ? "com-autor" : "sem-autor"}`)
                        if frase.imagem
                            img(src=frase.imagem)
                        else
                            div.card
                                h1=frase.text
                                if frase.autor
                                    p=frase.autor